*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Cairo', sans-serif;
}

/* HEADER */

header{
    width: 100%;
    height: 65px; 
    max-height: 65px;
    border-bottom: 1px solid #00f2f5;
    background-color: #000;
    
}

h2{
    color: #ea00d9;
}


nav{
    margin: 0px !important;
}

nav ul{
    margin-bottom: 0 !important;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    transition: color .7s;
} 

nav ul li a:hover{
    color: #00f2f5;
}

#logo{
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    transition: color .3s;
}

#logo:hover{
    color: #00f2f5;
}

#login{
    text-decoration: none;
    transition: color .3s;
}

#login:hover{
    color: #00f2f5;
}

#linear{
    height: 1px;
    background-image: linear-gradient(to right, #00f2f5, #00d2ff, #72a3ff, #d65fcf, #e8055d);
}

.active{
    border-bottom: 3px solid #00f2f5;
    padding: 1px 8px;
}

#btnLogin{
    background-color: #000;
    color: white;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #00f2f5;
    transition: all .5s;
}

#btnLogin:hover{
    background-color: #00f2f5;
    color: #000;
}

/* MAIN ARTICLE */

#mainArticle{
    background-image: url("../img/wallpaper.jpg");
    height: 100vh;
    
}

.whiteFont{
    color: white;
}

.mainImg{
    width: 300px;
    height: 400px;
}


/* CARDS */

.mainCard {
    transform: translate(-0%,-0%);
    width: 350px;
    height: 500px;
    background: #000;
    border: 1px solid #00f2f5;
}
.mainCard .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mainCard .image img {
    width: 100%;
    height: 100%;
    transition: .5s;
    
}
.mainCard:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.mainCard .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #000;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.mainCard:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.mainCard .details .center {
    padding: 20px;
    text-align: center;
    background: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.mainCard .details .center h1 {
    margin: 0;
    padding: 0;
    color: #00f2f5;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
.mainCard .details .center h1 span {
    font-size: 14px;
    color: #00f2f5;
}
.mainCard .details .center p {
    margin: 10px 0;
    padding: 0;
    color: white;
}



/* 2ND ARTICLE */

#news{
    background-color: #ea00d9;
}


/* NEWS SECTION */



#newsTitle{
    color: #ea00d9;
}

#midNew div{
    background-color: #000;
    color: white;
}


#imgDead{
    object-fit: contain;
}

/*FOOTER */

footer{
    height: 50px;
    background-color: #00000c;
}

footer p {
    color: white;

}

.zoom:hover{
    transform: scale(1.1);
    transition: 1s;
}


/* SHOP */

#shopWall{
    background-image: url("/img/wallshop.jpg");
}

#shopTitle{
    margin-left: 55px;
    color: #00f2f5;
}


/* MEDIA QUERYS*/

@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... }